svg  
{
  width:100%;
}
body
{
  background-color: rgb(0,0,0);
  color: rgb(245,240,200);
}
a
{
    color: rgb(245,240,200);
}
path 
{
  transition: fill 0.5s linear;
}
.nice
{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(140,140,140);
    border-radius: 25px;

    background:rgb(60,60,60);
    margin:15px 15px 15px 15px;
    padding:15px 15px 15px 15px
}
input
{
  background-color: rgb(200,200,200);
  border-radius: 5px;
}